<!DOCTYPE html>
<html>
<body>
<form action="{% url 'search_product' %}" method="POST">
  {% csrf_token %}
  <label for="p_name">Product name:</label><br>
  <input type="text" id="p_name" name="p_name"><br>
  <input type="submit" value = "SEARCH">
</form>
{% for i in products %}   
   <p>Product Name : {{i.product_name}}</p>
{% endfor %}
{% for j in product_cats %}   
   <p>Product Price :{{j.product_price}}</p>
   <p>Product Image :<img src="{{j.product_image.url}}" style="height:100px;width:100px;"></p>
   <p>Product Model :{{j.product_model}}</p>
   <p>Product Ram :{{j.product_ram}}</p>
{% endfor %}
</body>
</html>